<main>
    <section class="container mt-4">
        <h1><%= title %></h1>
        <p><%= description %></p>
        <p><%= cost %></p>
        <p><%= duration %></p>
        <p><%= locations %></p>
        <p><%= services %></p>

    </section>
</main>